#parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #002147;
    color: white;
}
 #child{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
 }

 #flag{
    height: 200px;
    width: 300px;
    
 }

 #country,#capital{
    text-align: center;
    margin: 10px;
 }

 #region{
    text-align: center;
    margin: 10px;
 }

 button{
    
    border-radius: 5px;
    background-color: darkgoldenrod;
    
 }