#Linkedin_logo{
    background-color: blue;
    width: 300px;
    height: 300px;
    padding: 0% 0%;
}
#Discoverlogo{
    width: 300px;
    height: 300px;
    padding: 0% 50%;
}
#Peoplelogo{
    width: 300px;
    height: 300px;
    padding: 0% 60%;
}
#Learninglogo{
    width: 300px;
    height: 300px;
    padding: 0% 70%;
}
#Joblogo{
    width: 300px;
    height: 300px;
    padding: 0% 80%;
}
.Navebar{
    flex: auto;
    flex-wrap: wrap;
    margin: 100px;

}
