.wrapper{
    background-color: blue;
    color: white;
    border: 20px solid black;
    margin: 50px 100px 50px 100px;
    padding: 50px 100px 20px 100px;
}
.grand parent{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: yellow;
    justify-content: space-around;
}
.parent{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: green;
    margin: 10px;
}
.child{
    background-color: brown;
    text-align: center;
    border: 1px solid black;
    margin: 25px;
    font-size: xx-large;
    padding: 25px;
}